body {
    font-family: "微軟正黑體", "Microsoft Jhenghei", "Helvetica Neue", "Helvetica", "sans-serif", "serif";
    min-height: 100%;
    background-color: #fff;
}


/* -------searchNavbar------------- */
#searchNavbar {
    background-color: white;
    padding: 18px;
    margin-bottom: 20px;
    font-size: 14px;
    align-self: flex-start;
}

.btn-search {
    height: 33.5px;
    background-color: #F08646;
}

.btn-search:hover {
    background-color: #FFA042;
}

#searchNavbar li {
    color: #666666;
}

#searchNavbar select {
    color: #F08646;
    appearance: none;
    background: url(./images/arrow_icon.png) no-repeat calc(100% - 10px) center;
    background-size: 10px 9px;
    font-size: 14px;
    background-color: #f4f5f2;
}

#searchNavbar section option {
    background-color: white;
}

svg {
    display: block;
    width: 16px;
    height: 16px;
    margin: auto;
}

/* -------searchResult------------- */
.search-product {
    display: flex;
    background-color: white;
    margin: 0 0 20px 0;
    border-radius: 2px;
}

.product-imga {
    width: 35%;
    height: 250px;
    display: inline-block;
}

.product-img {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    object-fit: cover;
}

.product-info-group {
    width: 65%;
    box-sizing: border-box;
    display: inline-block;
    padding: 10px 20px;
}

.product-info-group h3 {
    font-size: 22px;
    color: #565a5c;
    line-height: 24px;
    margin: 15px 0 7px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.product-info-group .product-name:hover {
    text-decoration: underline;
    color: #5D5C5C;
}

.product-spec-group {
    display: flex;
}

.product-spec {
    width: 60%;
    margin-right: 5px;
}

.product-icon {
    font-size: 14px;
    line-height: 20px;
    color: #8a4705;
    vertical-align: middle;
}

.product-icon img {
    width: 20px;
    margin-right: 10px;
}

.mb5 {
    white-space: nowrap;
    overflow: hidden;
}



.btn-price {
    background-color: #F08646;
    color: white;
    margin-left: 10px;
}

.btn-price:hover {
    background-color: #FFA042;
    color: white;
}

.product-icon a {
    color: #8a4705;
}

.product-icon a:hover {
    color: #FF9C38;
}

/* -------page------------- */
.pages-area {
    display: flex;
    justify-content: flex-end;

}

.pagination {
    --bs-pagination-padding-x: 0.62rem;
}

.pagination li a,
.pagination li a:hover {
    color: #F08646;
    font-size: 14px;
}


/* --------------RWD----------- */
@media screen and (min-width:1400px) {
    .container {
        max-width: 1140px;
    }
}

@media screen and (max-width:768px) {
    .product-imga{
        width: 100%;
    }
    .search-product {
        flex-direction: column;
    }
    .product-info-group {
        width: 100%;
        padding: 0 20px;
    }
    .product-spec,.product-tags{
        margin-bottom: 10px;
    }
    .mb5 {
        display: flex;
        flex-direction: column;
    }
    .btn-price {
        margin-left: 0;
    }
}

@media screen and (max-width:375px){
    .product-spec-group {
        flex-direction: column;
    }
}