.color4a {
    color: #4a4a4a;
}

.pointer {
    cursor: pointer;
}

.modalOpen {
    overflow: hidden;
}

#overlay {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 90;
}
.row>*{
    padding-right: 0;
    padding-left: 0;
}


/* -------productImgGroup----- */
.productImgGroup {
    display: flex;
    height: 500px;
    gap: 20px;
}

.imgMain {
    width: 60%;
    height: 100%;
}

.imgSec {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.productImg {
    width: 100%;
    height: 100%;
}

.imgSec .img50 {
    height: calc(50% - 10px);
}

#imgCarousel {
    position: fixed;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
    width: 70%;
    max-width: 750px;
    background-color: white;
    padding: 30px;
    display: none;
}
.imgCarouselClose {
    margin-right: -10px;
    margin-top: -10px;
    margin-bottom: 5px;
}

/* ----------productContent----------- */
.productContent {
    width: 66.66%;
}

h2 {
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 1.2px;
}

.location {
    display: flex;
    font-size: 14px;
    color: #9b9b9b;
}

.location img {
    height: 18px;
    width: 11px;
    padding-bottom: 5px;
}

.placeInfoItem img {
    width: 20px;
    height: 20px;
}

h5 {
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.9px;
}

.device_service {
    display: flex;
    flex-wrap: wrap;
}

/* ---------- */
#deviceModal {
    position: fixed;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
    display: none;
    max-height: calc(100vh - 30px);
    width: 90%;
    max-width: 500px;
    background-color: white;
    overflow-y:auto;
}

#deviceModal::-webkit-scrollbar {
    display: none;
}

.deviceModalHeader {
    align-items: flex-start;
}

.deviceModalHeader img {
    cursor: pointer;
}

.deviceItem {
    margin-bottom: 16px;
    align-items: flex-start;
}

.deviceItem img {
    margin: 8px 8px 0 0;
    vertical-align: baseline;
}

.deviceItem p {
    margin-bottom: 0;
}

.notProvided p {
    width: 33%;
    color: #9b9b9b;
    text-decoration: line-through;
    letter-spacing: 0.8px;
}

.productContent button {
    font-size: 14px;
    background-color: white;
    border: 1px solid #4a4a4a;
}

.productContent button:hover {
    color: white;
    background-color: #53a385;
    border: 1px solid #53a385;
    transition: 0.4s;
}
.calenderGroup{
    justify-content: space-around;
}
.calender {
    width: 301px;
}

.vertical-line{
    border-left: 1px solid #efefef;
}
.calenderHeader{
    width: 301px;
}
.calender .weekday-area>* {
    height: 45px;
    line-height: 40px;
    text-align: center;
    
}
.calender .weekday-area{
    margin: 0;
}

.date-area1>*,.date-area2>* ,.date-area3>*,.date-area4>*{
    height: 45px;
}

.dateHover{
    cursor: pointer;
}

.row-cols-7>* {
    flex: 0 0 auto;
    width: 43px;
    padding: 1px;
}

#lBtn1 ,#lBtn2,#lBtn3,#lBtn4{
    height: 30px;
    width: 29px;
    cursor: pointer;
    background-image: url("./images/leftArrow.svg");
}

#lBtn1:hover ,#lBtn2:hover ,#lBtn3:hover,#lBtn4:hover {
    background-image: url("./images/left-arrow-hover.svg");
}

#rBtn1,#rBtn2 ,#rBtn3,#rBtn4 {
    height: 30px;
    width: 30px;
    cursor: pointer;
    background-image: url("./images/rightArrow.svg");
}

#rBtn1:hover,#rBtn2:hover ,#rBtn3:hover,#rBtn4:hover {
    background-image: url("./images/right-arrow-hover.svg");
}
#rBtn1,#lBtn2{
    display: none;
}
#rBtn2{
    margin-left: auto;
}
.date-title{
    margin-left: 68.5px;
}
.date-title2{
    margin-left: 97.5px;
}
.date {
    border: 1px solid #cce4db;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dateHover:hover {
    background-color: #cce4db;
    transition: 0.2s;
}

.clenderMaker::before{
    display: inline-block;
    vertical-align: text-top;
    width: 20px;
    height: 20px;
    margin-left: 16px;
    margin-right: 3px;
    border-radius: 3px;
    background-color: #cce4db;
    content: "";
}


.locationTxt {
    display: flex;
}

.locationBlock {
    width: 50%;
}




.owner h5 {
    font-size: 16px;
}

.owner p {
    font-size: 13px;
    letter-spacing: 0.65px;
    color: #9b9b9b;
    font-weight: 400;
}

.owner img {
    width: 60px;
    height: 60px;
}


.payRelated {
    display: flex;
}

.payRelated div {
    width: 50%;
}

.payRelated .paymentInfo span {
    font-size: 14px;
    letter-spacing: 0.7px;
    color: #9b9b9b;
}


/* ---------------productPrice--------------- */
.priceInfo {
    display: flex;
}

.dateSelect{
    display: flex;
    align-items: center;
    font-weight: 500;
    cursor: pointer;
}

.dateSelect::before{
    content: "";
    display: block;
    background:url("./images/datepicker-icon.svg") no-repeat;
    width: 14px;
    height: 14px;
    margin-right: 5px;
}


.reservedCalender,.footerReservedCalender{
    display: none;
    justify-content: center;
}

.reserved,.priceInfo {
    border: 1px solid #d8d8d8;
    border-radius: 5px 5px 0 0;
}
.reserved{
    border-top: 0;
    border-radius:  0 0 5px 5px;
}


.hrPrice,.timeSlotPrice {
    width: 100%;
}

.reserved {
    width: 100%;
}

.reserved a {
    width: 100%;
    color: white;
    background-color: #53a385;
    border-radius: 50rem;
}

.reserved a:hover {
    background-color: #568A71;
    color: white;
}

.time{
    display: none;
}

.time .dropdown .btn{
    font-size: 16px ;
}

.dropdown > button:first-child::before,.timePeriod::before{
    content: "";
    display: block;
    background: url(/images/timepicker-icon.svg);
    width: 15px;
    height: 15px;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 5px;
}

.dropdown .start:active,.dropdown .end:active{
    border: 0;
}
.dropdown > button.dropdown-toggle {
    display: flex;
    align-items: center;
}
.dropdown .start::after,.dropdown .end::after{
    display: none;
}

.arrow{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 5px;
    margin-right: 5px;
}


.timePeriodGroup{
    display: none;
}
.timePeriodGroup button{
    border-color: #d8d8d8;
}
.timePeriodGroup button::before{
    content: "";
    background: url(./images/select-icon.svg) no-repeat;
    display: block;
    width: 20px;
    height: 20px;
    margin-top: auto;
    margin-bottom: auto;
}
.timePeriodGroup button:hover{
    background-color: #f6f6f6;
    border-color: #f6f6f6;
    color: #4a4a4a;
}
.timePeriodGroup button:hover::before{
    background: url(./images/select-hover-icon.svg) no-repeat;
}
.timePeriodGroup .btnClick,
.timePeriodGroup .btnClick:hover,
.timePeriodGroup .btn:active{
    color: white;
    background-color: #53a385;
    border-color: #53a385;
}
.timePeriodGroup .btnClick::before{
    background: url(./images/select-checked-icon.svg) no-repeat;
}
.timePeriodGroup .btnClick:hover::before{
    background: url(./images/select-checked-hover-icon.svg) no-repeat;
}
.productPriceDetails{
    color: #979797;
    display: none;
}
.productPriceDetails .largeTxt{
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 0.75px;
    vertical-align: middle;
    color: #4a4a4a;
}





/* -----------recommendMayLike--------------- */
.recommendMayLike{
    margin-bottom: 24px;
}
.mayLikeTitle {
    font-weight: 600;
    letter-spacing: 0.8px;
}

.mayLikeProduct {
    display: flex;
    flex-wrap: wrap;
    gap: 18px;
}

.mayLikeProduct a {
    width: 220px;
}

.mayLikeProduct img {
    width: 100%;
    height: 160px;
}

.mayLikeProduct a:hover img {
    opacity: 0.7;
    transition: 0.4s;
}

.mayLikeProduct a p:nth-child(2) {
    letter-spacing: 0.8px;
}

.mayLikeProduct a p:last-child {
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.7px;
}

/* --------productPriceFooter----------- */
.productPriceFooter {
    position: fixed;
    display: none;
    width: 100%;
    background-color: white;
}

.productPriceFooter .btn {
    width: 110px;
    color: white;
    background-color: #53a385;
}

.priceFooterBtn:hover {
    color: white;
    background-color: #568A71;
}

.priceFooterInfo a {
    color: #53a385;
    font-size: 14px;
}
#footerCalenderModal .modal-content{
    padding-top: 20px;
}


/* -----------------RWD---------------------- */
@media screen and (min-width:1400px) {
    .container {
        max-width: 1140px;
    }
}

@media screen and (max-width:1024px) {
    .productImgGroup .imgMain ,.productContent,.locationBlock,.payRelated div{
        width: 100%;
    }
    footer{
        display: none;
    }
    .productImgGroup .imgSec,
    .productPrice, .none1024{
        display: none;
    }

    .row .productPriceFooter {
        display: flex;
    }

    .locationGroup .locationTxt,
    .productContent .payRelated ,.majorHeader #rBtn1{
        display: block;
    }
    .majorHeader #rBtn1{
        margin-left: auto;
    }
    .placeInfo ,.mayLikeProduct {
        justify-content: space-around;
    }
    .recommendMayLike {
        margin-bottom: 90px;
    }
    .device_service .deviceItem {
        padding-left: 20px;
    }
}
@media screen and (max-width:768px){
    .productImgGroup {
        height: auto;
    }
}
@media screen and (max-width:576px){
    .container{
        padding: 30px;
    }
}

@media screen and (max-width:425px){
    #footerCalenderModal .modal-content{
        padding: 5px;
    }
    #footerCalenderModal .modal-header{
        margin-right: 5px;
    }
}