.color4a {
    color: #4a4a4a;
}

.pointer {
    cursor: pointer;
}

.modal-open {
    overflow: hidden;
}

#overlay {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 90;
}



/* -------productImgGroup----- */
.product-img-group {
    display: flex;
    height: 500px;
    gap: 20px;
}

.img-main {
    width: 60%;
    height: 100%;
}

.img-sec {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.product-img {
    width: 100%;
    height: 100%;
}

.img-sec .img50 {
    height: calc(50% - 10px);
}

#imgCarousel {
    position: fixed;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
    width: 70%;
    max-width: 750px;
    background-color: white;
    padding: 30px;
    display: none;
}

/* ----------productContent----------- */
.product-content {
    width: 66.66%;
}

h2 {
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 1.2px;
}

.location {
    display: flex;
    font-size: 14px;
    color: #9b9b9b;
}

.location img {
    height: 18px;
    width: 11px;
    padding-bottom: 5px;
}

.place-info-item img {
    width: 20px;
    height: 20px;
}

h5 {
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.9px;
}

.device-service {
    display: flex;
    flex-wrap: wrap;
}

/* ---------- */
#deviceModal {
    position: fixed;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
    display: none;
    max-height: calc(100vh - 30px);
    width: 90%;
    max-width: 500px;
    background-color: white;
    overflow-y:auto;
}

#deviceModal::-webkit-scrollbar {
    display: none;
}

.device-modal-header {
    align-items: flex-start;
}

.device-modal-header img {
    cursor: pointer;
}

.device-item {
    margin-bottom: 16px;
    align-items: flex-start;
}

.device-item img {
    margin: 8px 8px 0 0;
}

.device-item p {
    margin-bottom: 0;
}

.not-provided p {
    width: 33%;
    color: #9b9b9b;
    text-decoration: line-through;
    letter-spacing: 0.8px;
}

.product-content button {
    font-size: 14px;
    background-color: white;
    border: 1px solid #4a4a4a;
}

.product-content button:hover {
    color: white;
    background-color: #53A385;
    border: 1px solid #53A385;
    transition: 0.4s;
}


.location-txt {
    display: flex;
}

.location-block {
    width: 50%;
}




.owner h5 {
    font-size: 16px;
}

.owner p {
    font-size: 13px;
    letter-spacing: 0.65px;
    color: #9b9b9b;
    font-weight: 400;
}

.owner img {
    width: 60px;
    height: 60px;
}


.pay-related {
    display: flex;
}

.pay-related div {
    width: 50%;
}

.pay-related .payment-info span {
    font-size: 14px;
    letter-spacing: 0.7px;
    color: #9b9b9b;
}


/* ---------------productPrice--------------- */
.price-info {
    display: flex;
}

.reserved,
.price-info {
    border: 1px solid #d8d8d8;
    border-radius: 5px;
    padding: 20px 20px;
}


.hr-price,
.time-slot-price {
    width: 100%;
    padding-left: 5px;
}

.reserved {
    width: 100%;
}

.reserved a {
    width: 100%;
    color: white;
    background-color: #53A385;
    border-radius: 50rem;
}

.reserved a:hover {
    background-color: #568A71;
    color: white;
}










/* -----------recommendMayLike--------------- */

.recommend-may-like{
    margin-bottom: 24px;
}
.may-like-title {
    font-weight: 600;
    letter-spacing: 0.8px;
}

.may-like-product {
    display: flex;
    flex-wrap: wrap;
    gap: 18px;
}

.may-like-product a {
    width: 220px;
}

.may-like-product img {
    width: 100%;
    height: 160px;
}

.may-like-product a:hover img {
    opacity: 0.7;
    transition: 0.4s;
}

.may-like-product a p:nth-child(2) {
    letter-spacing: 0.8px;
}

.may-like-product a p:last-child {
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.7px;
}

/* --------productPriceFooter----------- */
.product-price-footer {
    position: fixed;
    display: none;
    width: 100%;
    background-color: white;
}

.product-price-footer .btn {
    width: 110px;
    color: white;
    background-color: #53A385;
}

.price-footer-btn:hover {
    color: white;
    background-color: #568A71;
}

.price-footer-info a {
    color: #53A385;
    font-size: 14px;
}


/* ---------------RWD----------------- */

@media screen and (min-width:1400px) {
    .container {
        max-width: 1140px;
    }
}

@media screen and (max-width:1024px) {
    .product-img-group .img-main ,.product-content,.location-block,.pay-related div{
        width: 100%;
    }
    footer{
        display: none;
    }
    .product-img-group .img-sec,
    .product-price {
        display: none;
    }

    .row .product-price-footer {
        display: flex;
    }

    .location-group .location-txt,
    .product-content .pay-related {
        display: block;
    }
    .place-info ,.may-like-product {
        justify-content: space-around;
    }
    .recommend-may-like {
        margin-bottom: 90px;
    }

}